<div ng-cloak style="align-content: center">
    <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="m in mainCtrl.chatList">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <!-- Card Title is the person who write the message -->
                            <span class="card-title">{{m.cid}}</span>
                            <!-- Here comes the message text -->
                            <h5><strong>{{m.cname}}</strong></h5>
                            <p><strong>Created On:</strong>  {{m.ctime}}
                            </p>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light " type="submit" name="action" ng-click="mainCtrl.enterChat(m.cid)">Send
                            <i class="material-icons right">send</i>
                    </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>